$navbar-background-color : rgba(0, 0, 0, .7);
$navbar-color : white;

$font-weight-light:   300 !default;
$font-weight-normal:  400 !default;
$font-weight-bold:    700 !default;
$border-radius:       .25rem !default;

// Badges
$badge-font-size:     1rem !default;
$badge-font-weight:   $font-weight-bold !default;
$badge-padding-y:     .25em !default;
$badge-padding-x:     .4em !default;
$badge-border-radius: $border-radius !default;

